.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  opacity: 1;
  visibility: visible;
  //   pointer-events: initial;
  //   pointer-events: none;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  position: relative;

  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  max-width: 290px;
  min-height: 152px;
  background-color: #ff6b09;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    max-width: 650px;
    min-height: 230px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 860px;
  }
}

.search-field {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff6b09;

  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.search-field::placeholder {
  text-transform: uppercase;
}

.button-close {
  position: absolute;
  top: 15px;
  right: 15px;

  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.icon-close {
  display: inline-block;
  margin: auto;

  width: 24px;
  height: 24px;
}
